*{
    padding: 0;
    margin: 0;
}

body {
    background: rgb(223, 219, 219);
}

.container {
    background-color: #fff;
    max-width: 1064px;
    margin: 0 auto;

}
 /*criando header*/

header {
    background: rgb(96, 96, 197);
    height: 130px;
    border-bottom: 3px solid rgb(34, 34, 32);
    display: flex;
    align-items: center;
}

header img {
    margin-left: 15px;
    margin-right: 15px;
}

header h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}